.formContainer
    form
        tag(target="title") Title:
        br
        input(type="text" name="title")
        br
        br
        tag(target="category") Type:
        br
        input(type="text" name="category")
        br
        br
        tag(target="location") Where:
        br
        input(type="text" name="location")
        br
        br
        tag(target="time") When:
        br
        input(type="date" name="time")
        br
        input(type="submit")
