.formContainer
    h1 Edit user #{user.username}
    form(role='form' action="/users/update" method="post")
        .form-group
            input.form-control(type="text" name="name" placeholder="name" value=user.name)
        .form-group
            input.form-control(type="text" name="email" placeholder="email" value=user.email)
        .form-group
            input.form-control(type="text" name="phone" placeholder="phonenumber" value=user.phone)
        button.btn.btn-default(type="submit") Submit
