.formContainer
    form
        tag(target="name") Name:
        br
        input(type="text" name="name")
        br
        br
        tag(target="email") Email:
        br
        input(type="email" name="email")
        br
        br
        tag(target="phone") Phone:
        br
        input(type="text" name="phone")
        br
        br
        input(type="submit")