extends layout

block content
    if (!user)
        a(href="/login") Login
        br
        a(href="/register") Register
    if (user.type != 'admin')
        p No rights to add events
        a(href="/") Home
    if (user.type == 'admin')
        p You are currently logged in as #{user.username}
        a(href="/logout") Logout
        include includes/eventCreate
