doctype html
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
            a.navbar-brand(href='/') #{title}
            button.navbar-toggle.collapsed(type='button' data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='#navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarsExampleDefault.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='/')
                            | Home
                            span.sr-only (current)
                    li.nav-item.dropdown
                        a#dropdown01.nav-link.dropdown-toggle(href='/', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Menu
                        .dropdown-menu(aria-labelledby='dropdown01')
                            a.dropdown-item(href='/events/add') Add event
                            a.dropdown-item(href='/users/edit') User info
                            a.dropdown-item(href='#') Something else here
        br
        .container
            if (error && error.length > 0)
                br
                h4.error-msg= error
                br
            block content
            br
            hr
            footer
                p Copyright &copy; 2018

    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')